.demo-card-wide {
    margin: 4%;
}
.demo-card-wide > .mdl-card__title {
    color: #fff;
    height: 176px;
    background: url('../images/laptops.jpg') center / cover;
}
.demo-card-wide > .mdl-card__menu {
    color: #fff;
}